/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #262626;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---------------------------- */
/* HEADINGS */
/* ---------------------------- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

/* ---------------------------- */
/* Header */
/* ---------------------------- */

.title-header {
    text-align: center;
    margin-top: 80px;
    font-family: 'Corben', cursive;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #2b30ab;
}

.title-header h3 {
    color: #ffffff;
    font-size: 30px;
}

.header h1 {
    padding-top: 75px;
    font-size: 50px;
}

.logo {
    width: 200px;
    height: auto;
}

/* ---------------------------- */
/* ADD CARD FORM */
/* ---------------------------- */

.container {
    margin-left: 10%;
    padding: 1rem;
    width: 80%;
    height: auto;
    background: #ffa502;
    opacity: .8;
    border-radius: 10px;
    text-align: center;
}

#add-card-container {
    display: none;
}

.add-card-form {
   width: 80%;
   text-align: center;
   display: inline-block;
}

.add-card-form label {
    font-weight: 400;
    font-size: 20px;
}

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    margin: 3px;
}

.admin-login-form {
    width: 80%;
    text-align: center;
    display: inline-block;
}

.login-label {
    margin-top: 10px;
}

#admin-login-container {
    display: none;
}

.submit {
    padding: 10px;
    background-color: #2b30ab;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: left;
    margin: 3px;
}
  
.submit:hover {
    background-color: whitesmoke;
    border: #2b30ab solid 1px;
    color: #2b30ab;
}
/* ---------------------------- */
/* ADMIN LOGIN ELEMENTS */
/* ---------------------------- */

#admin-btn {
    position: relative;
    padding: 10px;
    background-color: #2b30ab;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 20px;
    justify-self: center;
}
  
  #admin-btn:hover {
    background-color: whitesmoke;
    border: #2b30ab solid 1px;
    color: #2b30ab;
}
/* ---------------------------- */
/* CARD DIVS */
/* ---------------------------- */

.sports-card {
    margin: 50px;
    padding: 50px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #d1d8e0;
    border-radius: 3px;
}

.sports-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sports-card h3 {
    text-transform: none;
    font-weight: 400;
    padding-top: 15px;
}

.sports-card h4 {
    font-weight: 350;
    padding-top: 10px;
}

.sports-card p {
    font-weight: 350;
    padding-top: 10px;
}